.navbar
  .navbar-inner
    .left.sliding
      a(href="index").back.link
        i.icon.icon-back
        span Back
    .center.sliding Swiper Slider
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="swiper")
    .page-content
      .content-block
        p Framework7 comes with powerful and most modern touch slider ever - <a href="http://idangero.us/swiper" class="external" target="_blank">Swiper Slider</a> with super flexible configuration and lot, lot of features. Just check the following demos:
      .content-block-title Swiper Examples
      .list-block
        ul
          li
            a(href="swiper-horizontal").item-link.item-content
              .item-inner
                .item-title Swiper Horizontal
          li
            a(href="swiper-vertical").item-link.item-content
              .item-inner
                .item-title Swiper Vertical
          li
            a(href="swiper-space-between").item-link.item-content
              .item-inner
                .item-title Space Between Slides
          li
            a(href="swiper-multiple").item-link.item-content
              .item-inner
                .item-title Multiple Per Page
          li
            a(href="swiper-nested").item-link.item-content
              .item-inner
                .item-title Nested Swipers
          li
            a(href="swiper-loop").item-link.item-content
              .item-inner
                .item-title Infinite Loop Mode
          li
            a(href="swiper-3d-cube").item-link.item-content
              .item-inner
                .item-title 3D Cube Effect
          li
            a(href="swiper-3d-coverflow").item-link.item-content
              .item-inner
                .item-title 3D Coverflow Effect
          li
            a(href="swiper-3d-flip").item-link.item-content
              .item-inner
                .item-title 3D Flip Effect
          li
            a(href="swiper-fade").item-link.item-content
              .item-inner
                .item-title Fade Effect
          li
            a(href="swiper-scrollbar").item-link.item-content
              .item-inner
                .item-title With Scrollbar
          li
            a(href="swiper-gallery").item-link.item-content
              .item-inner
                .item-title Two Way Control Gallery
          li
            a(href="swiper-custom").item-link.item-content
              .item-inner
                .item-title Custom Controls
          li
            a(href="swiper-parallax").item-link.item-content
              .item-inner
                .item-title Parallax
          li
            a(href="swiper-lazy").item-link.item-content
              .item-inner
                .item-title Lazy Loading
          li
            a(href="swiper-pagination-progress").item-link.item-content
              .item-inner
                .item-title Progress Pagination
          li
            a(href="swiper-pagination-fraction").item-link.item-content
              .item-inner
                .item-title Fraction Pagination
          li
            a(href="swiper-zoom").item-link.item-content
              .item-inner
                .item-title Zoom
